<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body id="layout">
		
		<%= yield %>
		
		<div id="name">
			<a href="mailto:jnjosh@gmail.com">jnjosh@gmail.com</a><br />
			<a href="http://twitter.com/jnjosh">@jnjosh</a><br />
			<a href="http://www.jnjosh.com">jnjosh.com</a>
		</div>
	</body>
</html>