<h1 id="welcome_to_cloudfront">Welcome to CloudFront v0.1</h1>
<p>A small front end for using CloudApp with Twitter for iPhone - more info coming soon</p>

<hr>
<dl>
	<dt><strong>Shorten Link</strong></dt>
	<dd>http://cloudfront.heroku.com/shorten/?url=%@&email=[YOUR_CLOUDAPP_EMAIL]&pwd=[YOUR_CLOUDAPP_PASSWORD]</dd>
</dl>
<hr>

<br />